
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği</h3>
<br />
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı </th>
        <th>Kategori Açıklaması </th>
        <th>Kategori Durumu </th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim açıklaması</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Spor açıklaması</td>
        <td>True</td>
    </tr>
</table>